:root {
    --bg: #222;
    --fg: #bbb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
a,a:visited,a:active {
    text-decoration: none;
}
/* general */
body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: var(--bg);
    color: var(--fg);
}
.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}
.text-center {
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 15px 0;
    font-size: 19px;
    color: var(--fg);
}
nav ul li:after {
    display: inline-block;
    content: '\276F';
    margin-left: 11px;
    margin-right: 13px;
}
nav ul li:last-child:after {
    display: none;
}
nav ul li a {
    display: inline;
    font-size: 19px;
    color: var(--fg);
}